:root {
  --full: 100%;
  --aside-padding: 0.5em 0;
  --sidebar-button-margin: 0.1rem 0 0.1rem 0.5rem;
  --aside-border: 1.1px solid #000;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.aside-expanded {
  display: grid;
  grid-template-rows: 0.1fr 3fr 3fr 0.1fr;
  width: 20%;
  height: var(--full);
  border-right: var(--aside-border);
}

.aside-expanded > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-bottom: #000 1px solid;
  padding: var(--aside-padding);
}

.aside-expanded > section:nth-child(1) {
  max-width: 100%;
  align-items: flex-start;
}

.aside-expanded > section:nth-child(1) button {
  margin: var(--sidebar-button-margin);
  align-items: flex-start;
}

.aside-expanded > section > div {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: fit-content;
  padding: .3rem 0;
  max-height: 240px;
  overflow-y: scroll;
}

.aside-expanded div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding: 0.2rem .5rem;
  margin: .1rem 0;
  background-color: #dad3d3;
}

.aside-collapsed {
  height: 100%;
  width: 60px;
  border-right: var(--aside-border);
}

.display-none {
  display: none;
}

.expand-button {
  position: fixed;
  left: 0;
  top: 10px;
  margin: var(--sidebar-button-margin);
}
