:root {
  --full: 100%;
  --aside-padding: 0.5em 0;
  --sidebar-button-margin: 0.1rem 0 0.1rem 0.5rem;
  --aside-border: 1.1px solid #000;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.aside-expanded {
  display: grid;
  grid-template-rows: 0.1fr 3fr 3fr 0.1fr;
  width: 20%;
  height: var(--full);
  border-right: var(--aside-border);
}

.aside-expanded > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-bottom: #000 1px solid;
  padding: var(--aside-padding);
}

.aside-expanded > section:nth-child(1) {
  max-width: 100%;
  align-items: flex-start;
}

.aside-expanded > section:nth-child(1) button {
  margin: var(--sidebar-button-margin);
  align-items: flex-start;
}

.aside-expanded > section > div {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: fit-content;
  padding: 0.3rem 0;
  max-height: 240px;
  overflow-y: scroll;
}

.aside-expanded div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding: 0.2rem 0.5rem;
  margin: 0.1rem 0;
  background-color: #dad3d3;
}

.aside-expanded > section:nth-child(4) {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100%;
}

.aside-collapsed {
  height: 100%;
  width: 60px;
  border-right: var(--aside-border);
}

.display-none {
  display: none;
}

.expand-button {
  position: fixed;
  left: 0;
  top: 10px;
  margin: var(--sidebar-button-margin);
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.main-collapsed {
  width: 80%;
}
.main-expanded {
  width: calc(100% - 60px);
}

#list-form,
#task-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

/* #list-form div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 95%;
  max-height: 100px;
  overflow-y: scroll;
  padding: .2rem 0;
  border: var(--aside-border);
} */

#create-lists-div {
  display: flex;
  overflow-y: scroll;
  border: var(--aside-border);
  flex-direction: column;
  padding: 0.2rem;
  height: fit-content;
  max-height: 100px;
}

#create-lists-div div {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
}
